{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>
<body>
    <div class="construction-container">
        <h1>Site Under Construction</h1>
        <p>We are working hard to bring you something awesome! Please check back soon.</p>
        <img src="{% static 'img/loader.webp' %}" alt="Under Construction">
    </div>
</body>
</html>